.bundle
db/*.sqlite3
db/xapian*/*
log/*.log
tmp/**/*
tmp/*
nbproject/*
public/stylesheets/*.css
public/stylesheets/**/*.css
public/javascripts/*.js
spec/javascripts/compiled/*
public/system/*
spec/images/*/**
*.swp
prototipo/*
config/database.yml
config/app_config.yml
tmp/restart.txt
tags
posix
coverage/**/*
coverage/*
.metrics
Guardfile
.sass-cache
