.bundle
.rspec
db/*.sqlite3
db/xapian*/*
db/redis/*.rdb
log/*.log
log/redis/*.pid
log/redis/*.log
log/foreman/*.log
.env
tmp/**/*
tmp/*
nbproject/*
public/assets/
public/system/*
spec/images/*/**
*.swp
prototipo/*
config/database.yml
config/thin.yml
config/redis.conf
config/app_config.yml
tmp/restart.txt
tags
posix
coverage/**/*
coverage/*
.metrics
Guardfile
.sass-cache
