.bundle
db/*.sqlite3
db/xapiandb/*
log/*.log
tmp/**/*
nbproject/*
public/stylesheets/*.css
public/stylesheets/**/*.css
public/javascripts/*.js
public/system/*
*.swp
prototipo/*
config/database.yml
tmp/restart.txt
