.markItUp
{
  border: 5px solid #F5F5F5;
}

.markItUpContainer
{
  background: #f0f0f0 url(images/bg-container.png) repeat-x scroll left top;
  border:     1px solid #3c769d;
  padding:    0.3em 1em;
}

.markItUpEditor
{
	height:     320px;
	clear:      both;
  display:    block;
	line-height:18px;
	overflow:   auto;
}
.markItUpPreviewFrame
{
	overflow:   auto;
	background-color: #fff;
	width:      99.9%;
	height:     300px;
	margin:     5px 0;
}
.markItUpFooter
{
	width:      100%;
}
.markItUpResizeHandle
{
	overflow:   hidden;
	width:      22px;
  height:     5px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(images/handle.png);
	cursor:     n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li
{
	list-style: none;
	float:      left;
	position:   relative;
}
.markItUpHeader ul li:hover > ul
{
	display:    block;
}
.markItUpHeader ul .markItUpDropMenu
{
	background:   transparent url(images/menu.png) no-repeat 115% 50%;
	margin-right: 5px;
}
.markItUpHeader ul .markItUpDropMenu li
{
	margin-right: 0px;
}

.markItUpHeader ul .markItUpSeparator
{
	margin:       0 10px;
	width:        1px;
	height:       16px;
	overflow:     hidden;
	background-color: #ccc;
}

.markItUpHeader ul span
{
	display:      block;
	width:        16px;
  height:       16px;
	text-indent:  -10000px;
	background-repeat:  no-repeat;
	padding:      3px;
	margin:       0px;
}

.markItUpHeader ul span:hover
{
  cursor: pointer;
}
