- title "Textos"

= simple_form_for @translations, url: translations_path do |form|
  - @translations.public_keys.each do |key, value|
    = form.input key, input_html: {value: value}
  = buttons { submit_tag "Guardar" }
