- title "Resultados para la búsqueda #{params[:q]}" # TODO: ¿@paginas.search_term o similar?
- css 'resultados'

- if @paginas.spelling_suggestion
  - suggestion = @paginas.spelling_suggestion.force_encoding("utf-8")
  %p#sugerencia
    ¿Quiso decir
    = link_to(suggestion, search_paginas_path(q: suggestion)) + "?"

%section#resultados
  - @paginas.each do |pagina|
    = render 'resumen', pagina: pagina.indexed_object

#paginador= will_paginate @paginas
