- title "Resultados para la búsqueda #{params[:q]}" # TODO: ¿@paginas.search_term o similar?
- css 'resultados'

- unless @paginas.spelling_suggestion.blank?
  %p#sugerencia
    ¿Quiso decir
    = link_to(@paginas.spelling_suggestion, search_paginas_path(q: @paginas.spelling_suggestion)) + "?"

%section#resultados
  - @paginas.paginate.each do |pagina|
    = render 'resumen', pagina: pagina.indexed_object

#paginador= will_paginate @paginas
