= link_to image_tag('logo.png',
  :alt => 'Calesur: Centro de Asesoría Legal y Estudios Económicos del Sur',
  :id => 'logo'),
  '/',
  :title => 'Calesur: página principal'
#lema
  Tu contabilidad como si fueras nuestro hijo