= link_to image_tag('logo.png',
  alt: 'Calesur: Centro de Asesoría Legal y Estudios Económicos del Sur',
  id: 'logo'),
  '/',
  title: 'Calesur: página principal'

#crm= link_to t("public.privada"), "http://www.calesur.es:81/CRM/eware.dll/go"

#lema= t("public.lema")
