- if !flash.empty?
  #flash
    - flash.each do |name, msg|
      .flash{id: "flash_#{name}"}
        %p= msg
        // TODO: No me convence ni esta solución, ni otras que he visto.
        // Poner un botón en el flash desde el controlador también es un hack.
        - if @deshacer
          = button_to "Deshacer", @deshacer, method: :put
  - flash.discard
