@import "compass/css3"
@import partials/enlace.sass
@import partials/button.sass

ul.actions
  margin-top: 1em
  display: table
  li
    display: table-cell
    padding-left: 0.5em
    line-height: 0.9

    &:first-child
      padding-left: 0

    &:after
      content: '|'
      padding-left: 0.5em

    &:last-child
      padding-right: 0
      &:after
        content: ''
  a
    padding-left: 1.1em
    background: no-repeat center left
    +background-size(auto 80%)

    &.show
      background-image: url(/images/lupa.png)
    &.edit
      background-image: url(/images/edit.png)
    &.destroy
      background-image: url(/images/destroy.png)
      @include color_enlaces()
    &.new
      background-image: url(/images/new.png)
    &.draft
      background-image: url(/images/draft.png)
    &.historial
      background-image: url(/images/historial.png)
    &.index.paginas
      background-image: url(/images/paginas.png)
    &.index.cajas
      background-image: url(/images/cajas.png)
  input
    @extend .button 
