ul.actions
  margin-top: 1em
  display: table
  li
    display: table-cell
    padding-left: 0.5em
    line-height: 0.9

    &:first-child
      padding-left: 0

    &:after
      content: '|'
      padding-left: 0.5em

    &:last-child
      padding-right: 0
      &:after
        content: ''
  a
    padding-left: 1.1em
    background: no-repeat center left
    +background-size(auto 80%)

    &.show
      background-image: url(/images/lupa.svg)
    &.edit
      background-image: url(/images/edit.svg)
    &.destroy
      background-image: url(/images/destroy.svg)
    &.new
      background-image: url(/images/new.svg)
    &.draft
      background-image: url(/images/draft.svg)
    &.historial
      background-image: url(/images/historial.svg)
    &.index.paginas
      background-image: url(/images/paginas.svg)
    &.index.cajas
      background-image: url(/images/cajas.svg)