@import "compass/css3"
@import cabecera.sass
@import navegacion.sass
@import pie.sass
@import layout.sass

*
  padding:          0
  margin:           0
  font-family:      helvetica, arial, verdana, sans-serif
  font-size:        1em

body
  margin:           1em auto
  font-size:        0.85em
  width:            80em
  max-width:        98%
  background-color: #fdfdfd
  color:            #333

a img
  border:           none

.flash
  margin-bottom:    0.5em
  text-align:       center
  p
    padding:        0.3em 0.5em
    display:        inline

#flash_notice p
  background-color: #cfc
  border:           1px solid #6c6

#flash_error p
  background-color: #fcc
  border:           solid 1px #c66

.fieldWithErrors
  display:          inline

h1
  font-size:        1.4em

#content
  +linear-gradient(color-stops(#e7e7e7, #fafafa))
  background-color: #f3f3f3