@import "compass/css3"
@import reset.sass
@import cabecera.sass
@import navegacion.sass
@import pie.sass
@import layout.sass
@import pagina.sass
@import flash.sass

body
  margin:           0 auto
  font-size:        0.85em
  width:            80em
  max-width:        98%
  background-color: #fdfdfd
  color:            #333
  font-family:      helvetica, arial, verdana, sans-serif

a
  color:            #206090

  &:visited
    color:          #754570

  &:focus, &:hover
    color:          #ee2100

a img
  border:           none

p, li
  line-height:      1.5

h1
  font-size:        1.6em
  border-bottom:    1px dotted #155600
  color: #207500
  padding-bottom:   0.1em