#intro
  +linear-gradient(color-stops(#47ac1f, #107400))
  background-color: #239509
  color: white

  #cabecera
    display: block
    overflow: hidden
    font-size: 1.5em
    margin-bottom: 0.5em

    #logo
      float: left
      margin-right: 3em

    #lema
      padding-top: 1em
      font-size: 1.3em
