#cabecera
  +linear-gradient(color-stops(#208500, #45a52a 50%, #208500))
  background-color: #2f9510
  color: white
  display: block
  overflow: hidden
  font-size: 1.5em
  padding: 0.5em 0

  #logo
    float: left
    margin-right: 3em

  #lema
    padding-top: 1em
    font-size: 1.3em
    text-shadow: 2px 2px 0.1em #0e4400
