@import "compass/css3"
@import errores.sass
@import partials/button.sass
@import partials/input.sass

form
  .input
    margin-top: 1em

    input, textarea, select
      @extend .control

    select
      min-width: 10em
      width: auto
      padding: 0

    &.boolean, &.radio
      label
        display: inline

      input
        width: auto

    .markItUp
      width: 40em
      max-width: 95%

      textarea
        width: 100%
        max-width: none

  div.actions
    margin-top: 0.5em

  button, input[type=submit], input[type=reset]
    @extend .button
    
  label
    display: block
    margin-bottom: 0.1em

    abbr
      border: none

#preview .pagina
  margin-bottom: 1em

#actualizado
  font-style: italic
  color: #666
  margin-top: 0.5em