@import "compass/css3"
@import partials/enlace.sass
@import errores.sass
@import partials/button.sass
@import partials/input.sass
@import partials/cargando.sass

form
  .input
    margin-top: 1em

    input, textarea, select
      @extend .control

    select
      min-width: 10em
      width: auto
      padding: 0

    &.boolean, &.radio
      label
        display: inline
        margin-left: 0.2em

      input
        width: auto

    &.check_boxes
      overflow:        hidden

      label.check_boxes
        font-size: 1.2em
        border-bottom: 1px dotted

      span
        float:         left
        width:         45%
        margin-right:  3%
        margin-top:    0.5em

        label
          display:    inline
        input
          width:         auto
          margin-right:  0.2em

    .ayuda-textile
      position:       relative
      width:          40em
      a
        position:     absolute
        top:          -1.2em
        right:        0
        @include color_enlaces()
    .markItUp
      width: 40em
      max-width: 95%

      textarea
        width: 100%
        max-width: 100%

  div.actions
    margin-top: 0.5em

  button, input[type=submit], input[type=reset]
    @extend .button
    
  label
    display: block
    margin-bottom: 0.1em

    abbr
      border: none
      color: #ee4400

  .field_with_errors
    input, textarea, select
      border-color: red

    .error
      color:        red
      margin-left:  0.2em

  .hint
    margin-left: 0.2em
    font-style: italic

  fieldset.check_boxes
    legend
      padding-bottom: 1em

    .input
      margin-top: 0.5em    

#preview
  @include cargando()
  .pagina
    margin-bottom: 1em

    div.quitar_imagen
      position: relative
      float:    left

      a
        position: absolute
        top: 0
        right: 0
        font-size: 0
        text-decoration: none

        &:before
          content: url("/images/destroy.png")

#actualizado
  font-style: italic
  color: #666
  margin-top: 0.5em
