#main
  float: left
  width: 67%
  margin-left: 3%

#extra
  float: left
  width: 30%

#admin
  margin-left: 6%

#content
  padding: 1em 0 1em 4px
  overflow: hidden

#pie
  clear: both
  width: 100%
