#navegacion
  +linear-gradient(color-stops(#127402, #074400))
  background-color: #0e4400
  overflow: hidden
  width: 100%
  display: table

  ul
    list-style: none

    li
      float: left
      padding: 0.3em 0

      a
        float: left
        color: #fdfdfd
        padding: 0.2em 1em
        text-decoration: none

        &:hover, &:focus
          color: #105400
          background-color: #fdfdfd
          +border-radius(0.5em)

  #buscador
    text-align: right
    padding-right: 0.5em
    display: table-cell
    vertical-align: middle

    div
      display: inline

    input[type=search]
      width: 15em
      border: 1px solid #ccc
      +border-radius(0.5em)
      padding: 0 0.3em

    input[type=submit]
      +border-radius(0.2em)
      border: 2px outset #ccc
      padding: 0.1em 0.4em 0.1em 1.3em
      color: #fefefe
      background: #074400 url(/images/lupa.png) no-repeat 0.1em center
      +background-size(auto 90%)
      cursor: pointer

      &:active
        border-style: inset