*
  padding:          0
  margin:           0
  font-family:      inherit
  font-size:        1em
  font-weight:      normal
  border:           none
  line-height:      1
  vertical-align:   baseline
  background:       transparent
  text-decoration:  none
  +box-sizing(content-box)

  &:focus
    outline: none

footer, header, article, section, aside, nav,
canvas, details, figcaption, figure, hgroup, menu, summary
  display:          block

strong
  font-weight:      bold

a
  text-decoration:  underline

  &:focus
    outline:        1px dotted

ul
  list-style:       disc

ol
  list-style:       decimal

blockquote, q
  quotes:           none

  &:before, &:after
    content:          ''
    content:          none

ins
  text-decoration:  none

del
  text-decoration:  line-through

table
  border-collapse:  collapse
  border-spacing:   0

input, select
  vertical-align:   middle

input, button, select, textarea
  border:           1px solid

abbr[title], dfn[title]
  border-bottom:    1px dotted #000
  cursor:           help

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="file"] > input[type="button"]
  line-height: 1.3

  &::-moz-focus-inner
    border: 0
    padding: 0