*
  padding:          0
  margin:           0
  font-family:      helvetica, arial, verdana, sans-serif
  font-size:        1em
  font-weight:      normal
  border:           none

strong
  font-weight:      bold