- title resource: @pagina

%p#introduccion_differ
  Diferencias entre las versiones:
  %del.differ= @referencia.texto_version_modificada
  %ins.differ= @version.texto_version_modificada

= @pagina.diferencias @pagina_referencia

= actions_list [:historial], @pagina
