- title "Versión de #{@pagina} el #{@version.created_at}", false
= render 'paginas/pagina', pagina: @pagina, cajas: @pagina.cajas_con_orden
= actions_list [:historial, 
  ['Recuperar', recover_vestal_versions_version_path(@version),
  {form: true, method: :put}]], @pagina
