- title 'Editar navegaci칩n'
- css 'form'
- bsmselect_con_cajas

%p
  Selecciona de entre las p치ginas 
  %strong publicadas
  las que aparecer치n en la navegaci칩n.

= simple_form_for Navegacion.new do |form|
  = form.input :pagina_id, collection: @paginas, selected: @ids,
    input_html: {class: 'cajas', multiple: true}
  = form.submit
