@import "compass/css3"

$fondo: #2f9510

#pie
  +background-image(linear-gradient(lighten($fondo, 4%), darken($fondo, 18%)))
  background-color: $fondo
  color: white
  padding: 1em 0
  text-align: center

  address
    display: block
    text-align: center
    margin-top: 0.5em

    span
      background: no-repeat left center 
      padding-left: 20px
      &.address
        background-image: image-url("address.png")
      &.phone
        background-image: image-url("phone.png")
