- adjuntos_ajax
- javascript 'adjuntos'

= simple_form_for foto, :html => {:multipart => true} do |form|
  = form.input :imagen, :as => :file, :label => 'Añade una nueva imagen', :required => false
  .actions= form.submit 'Subir'