- if caja.imagen?
  %figure.caja
    =image_tag caja.imagen.thumb('300x300#').url, alt: caja.titulo
    -if !caja.cuerpo.blank?
      %figcaption= caja.cuerpo
- else
  %article.caja
    %header
      %h2= caja.titulo

    = strict_textilize caja.cuerpo
